.cell6 > img
{
    max-width: 95%;
}
ul
{
    padding: 0;
}

.block
{
    display: block;
    text-align: center;
}
.block > img
{
    max-width: 50%;
    background-color: rgb(255, 140, 0);
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.block > img:hover
{
    background-color: rgb(250, 100, 0);
}

.block > img:active
{
     background-color: black;
     border-color: rgb(255, 140, 0);
}

#KVS
{
    text-align: center;
}
#KVS > img
{
    max-width: 60%;
}