
@font-face{
    font-family: 'Airborne';
    src: url('fonts/airborne.eot');
    src: local('☺'), url('fonts/airborne.woff') format('woff'), url('fonts/airborne.ttf') format('truetype'), url('fonts/airborne.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Hagin Caps Medium';
    src: url('fonts/Hagin Caps Medium.eot');
    src: local('☺'), url('fonts/Hagin Caps Medium.woff') format('woff'), url('fonts/Hagin Caps Medium.ttf') format('truetype'), url('fonts/Hagin Caps Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monotype-Corsiva-Regular';
    src: url('fonts/Monotype-Corsiva-Regular.eot');
    src: local('☺'), url('fonts/Monotype-Corsiva-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Monotype-Corsiva-Regular.woff') format('woff'),
         url('fonts/Monotype-Corsiva-Regular.ttf') format('truetype'),
         url('fonts/Monotype-Corsiva-Regular.svg#Monotype-Corsiva-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaRegular";
    src: url("fonts/HelveticaRegular.eot");
    src: url("fonts/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/HelveticaRegular.woff") format("woff"),
    url("fonts/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaItalic";
    src: url("fonts/HelveticaItalic.eot");
    src: url("fonts/HelveticaItalic.eot?#iefix")format("embedded-opentype"),
    url("fonts/HelveticaItalic.woff") format("woff"),
    url("fonts/HelveticaItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}