@import "fonts.css" all;

html
{
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
}

body
{
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    color: rgb(255, 140, 0);
    background-image: url("./images/back.png");
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.cell1, .cell2, .cell3,
.cell4, .cell5, .cell6,
.cell7, .cell8, .cell9,
.cell10, .cell11, .cell12
{
    display: inline;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 1%; 
}

.cell1
{
    width: 7.33%;
}
.cell2
{
    width: 15.66%;
}
.cell3
{
    width: 24%
}
.cell4
{
    width: 32.33%;
}
.cell5
{
    width: 40.66%;
}
.cell6
{
    width: 49%;
}
.cell7
{
    width: 57.33%;
}
.cell8
{
    width: 65.66%;
}
.cell9
{
    width: 74%;
}
.cell10
{
    width: 82.33%;
}
.cell11
{
    width: 90.66%;
}
.cell12
{
    width: 99%;
}

.main
{
    text-align: center;
}

.main > img
{
    width: 7.33%;
}

.h1
{
    font-family: 'Monotype-Corsiva-Regular';
    font-weight: bold;
    font-size: 700%;
    margin: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: inline;
}

.h2
{
    font-family: 'Hagin Caps Medium';
    font-size: 200%;
}

.h3
{
    font-family: 'Hagin Caps Medium';
    font-size: 170%;
}

@media all and (orientation: portrait){
    .h1
    {
        font-size: 1200%
    }
    .main > img
    {
        width: 12%;
    }

    .mcell1, .mcell2, .mcell3,
    .mcell4, .mcell5, .mcell6,
    .mcell7, .mcell8, .mcell9,
    .mcell10, .mcell11, .mcell12
    {
        display: inline;
        float: left;
        margin-left: 0.5%;
        margin-right: 0.5%;
        margin-top: 1%; 
    }

    .mcell1
    {
        width: 7.33%;
    }
    .mcell2
    {
        width: 15.66%;
    }
    .mcell3
    {
        width: 24%
    }
    .mcell4
    {
        width: 32.33%;
    }
    .mcell5
    {
        width: 40.66%;
    }
    .mcell6
    {
        width: 49%;
    }
    .mcell7
    {
        width: 57.33%;
    }
    .mcell8
    {
        width: 65.66%;
    }
    .mcell9
    {
        width: 74%;
    }
    .mcell10
    {
        width: 82.33%;
    }
    .mcell11
    {
        width: 90.66%;
    }
    .mcell12
    {
        width: 99%;
    }
}