@import "grid.css" all;

.h2
{
    font-family: 'Hagin Caps Medium';
    font-size: 200%;
    margin: 0;
    margin-left: 3%;
}

.h3
{
    font-family: 'HelveticaRegular';
    font-size: 170%;
}

li
{
    margin: 2%;
}

li > p, li > a
{
    font-family: 'HelveticaRegular';
    font-size: 170%;
    display: inline;
}

li > a
{
    color: rgb(255, 140, 0);
}

li > a:visited
{
    color: rgb(250, 100, 0);
}

.inp
{
    width: 100%;
    font-size: 250%;
    background-color: black;
    color: rgb(255, 140, 0);
    height: 100%;
}

.fullheight
{
    height: 100%;
}


@media all and (orientation: portrait){
    .h2
    {
        font-size: 400%;
    }
    .h3
    {
        font-size: 400%;
    }
    li
    {
        margin: 3%;
    }
    li > p, li > a
    {
        font-size: 400%;
    }

}