@import "fonts.css" all;
@import "grid.css" all;

.LEFT
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    min-width: 15.66%;
    min-height: 100%;
    background-color: black;
}

.UP
{
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 2.5%;
    background-color: rgb(255, 140, 0);
    z-index: 3;
}

.DOWN
{
    position: fixed;
    bottom: 0;
    min-width: 100%;
    min-height: 2.5%;
    background-color: rgb(255, 140, 0);
    z-index: 3;
    text-align: center;
}

.MENU-UP
{
    position: fixed;
    top: 2.5%;
    width: 15.66%;
    z-index: 2;
    background-color: black;
    z-index: 2;
}

.MENU-UP > p
{
    color: rgb(255, 140, 0);
    text-align: center;
    font-family: 'Airborne';
    font-size: 250%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.MENU > a
{
    display: block;
    color: black;
    background-color: rgb(255, 140, 0);
    border-color: black;
    text-decoration: none;
    font-family: 'Airborne';
    font-size: 180%;
    text-align: center;
    border-style: double;
    border-width: 2px;
    border-radius: 40%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.MENU > a:active
{
    color: rgb(255, 140, 0);
    background-color: black;
    border-color: rgb(255, 140, 0);
}

.MENU > a:hover
{
    background-color: rgb(250, 100, 0);
    border-color: black;
}

.M-MENU
{
    display: none;
}

.MENU-DOWN
{
    position: fixed;
    bottom: 2.5%;
    width: 15.66%;
    text-align: center;
    font-family: 'Airborne';
    z-index: 1;
}

.MENU-DOWN > img
{
    width: 90%;
    border-color: rgb(255, 140, 0);
    border-style: double;
    padding: 2%;
}
.MENU-DOWN > p
{
    color: rgb(255, 140, 0);
    font-size: 190%;
    padding: 0;
    margin: 0;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.BUFFER
{
    height: 2.5%;
    min-height: 2.5%;
    margin-top: 0;
}

.DOWN > p
{
    color: black;
    font-size: 150%;
    margin: 0;
    font-family: 'Hagin Caps Medium';
}

@media all and (orientation: portrait){
    .MENU
    {
        display: none;
    }

    .MENU-UP > p
    {
        font-size: 400%;
    }

    .M-MENU
    {
        display: block;
        width: 100%;
    }
    .M-MENU > a
    {
        display: block;
        margin-top: 5%;
        border-style: double;
        border-radius: 80%;
        border-color: rgb(255, 140, 0);
        background-color: rgb(255, 140, 0);
    }
    .M-MENU > a:active
    {
        border-color: black;
    }
    .M-MENU > a:hover
    {
        background-color: rgb(250, 100, 0);
        border-color: black;
    }
    .M-MENU > a > img
    {
        width: 100%;
    }
    .DOWN > p
    {
        font-size: 250%;
    }
    .MENU-DOWN > p
    {
        font-size: 350%;
    }
    .DOWN > p
    {
        font-size: 350%;
    }
}
