@import "grid.css" all;

.galery
{
    background-color: black;
}

.preview
{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('./images/preview.png');
    background-size: cover;
    z-index: 4;
}

.fx
{
    position: fixed;
}

.mini
{
    text-align: center;
}

.mini:hover
{
    background-color: rgb(250, 100, 0);
}

.mini > img
{
    max-width: 95%;
    max-height: 95%;
    vertical-align: middle;
}

#BLOCK0, #BLOCK1, #BLOCK3, #BLOCK7
{
    border-width: 8px;
    border-style: solid;
    border-color: rgb(255, 140, 0);
    margin: 1px;
    padding: 1px;
    text-align: center;
    vertical-align: middle;
}

#BLOCK0:hover, #BLOCK1:hover
{
    border-color: rgb(250, 100, 0);
    background-color: black;
}

#BLOCK0 > img,
#BLOCK1 > img,
#BLOCK2 > img
{
    max-width: 95%;
    max-height: 95%;
    vertical-align: middle;
}

#BLOCK2
{
    background-color: black;
    vertical-align: middle;
    text-align: center;
    margin: 5px;
    padding: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 140, 0);
}

#BLOCK2 > img
{
    border-style: solid;
    border-color: rgb(250, 100, 0);
    padding: 2px;
    border-width: 2px;
}

#BLOCK3 > h1
{
    text-align: center;
}

#BLOCK3 > h2
{
    display: inline;
    padding: 3%;
    margin-top: 10%;
}

#BLOCK3 > p
{
    font-size: 150%;
    font-family: 'Conv_Helvetica';
    display: inline;
}

#BLOCK3
{
    text-align: left;
    font-family: 'Airborne';
    overflow: auto;
}

#BLOCK3:hover
{
    border-color: rgb(255, 140, 0);
    background-color: transparent;
}

#BLOCK4
{
    text-align: center;
    vertical-align: middle;
}

#BLOCK4 > img
{
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

#BLOCK5, #BLOCK6
{
    border-radius: 35%;
    border-width: 3px;
    margin: 2px;
    padding: 5px;
    background-color: rgb(255, 140, 0);
    color: black;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    font-family: 'Airborne';
    font-size: 150%;
}

#BLOCK5 > p, #BLOCK6 > p
{
    margin: 0;
    padding: 0;
}

#BLOCK5:hover, #BLOCK6:hover
{
    background-color: rgb(250, 100, 0);
}

#BLOCK5:active, #BLOCK6:active
{
    background-color: black;
    color: rgb(255, 140, 0);
}

@media all and (orientation: portrait){
    #BLOCK3 > h1
    {
        font-size: 300%;
    }

    #BLOCK3 > h2
    {
        font-size: 250%;
    }

    #BLOCK3 > p
    {
        font-size: 350%;
    }

    #BLOCK5, #BLOCK6
    {
        border-radius: 80%;
        font-size: 250%;
    }
}