@import "menu.css" all;

h1 
{
    font-family: 'Hagin Caps Medium';
    font-size: 300%;
    text-align: center;
}

p
{
    font-family: 'HelveticaRegular';
    font-size: 250%;
}

li
{
    margin-top: 2%;
}

li > p
{
    display: inline;
    font-size: 200%;
}

.cur
{
    font-family: 'HelveticaItalic';
    font-style: italic;
}

@media all and (orientation: portrait){
    h1
    {
        font-size: 700%;
    }
    p
    {
        font-size: 500%;
    }
    li > p
    {
        font-size: 400%;
    }
    li
    {
        margin-top: 3%;
    }

}